<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:page_title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= root_path %>">Tiny Forum on Rails</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if login? %>
          
        <% else %>
          <li><a href="#">Sign up</a></li>
          <li><a href="#">Sign in</a></li>
        <% end %>
      </ul>

      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">Community</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <%= yield %>

</body>
</html>
